<h2><%= post.title %></h2>
<p><%= post.description %></p>
<p><%= post.body %></p>
<p><%= post.image_url %></p>
<p><%= post.thumbnail_url %></p>
<p><%= post.tags %></p>
<p><%= post.words %></p>
<p><%= post.year %></p>
<p><%= post.user_id %></p>